<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href={{ url_for( 'static' , filename='style.css' ) }} />
    <title>Spotify Discovery</title>
</head>

<body>
    <div class="main">
        <img src={{album_cover}} width="25%" class="album">
        <h2>{{song_name}}</h2>
        <h3>{{artist_names}}</h3>


        <audio controls>
            <source src={{preview_url}} type="audio/mp3">
            Your browser does not support the audio element.
        </audio>


        <a href={{spotify_url}} target="_blank"><img src="/static/images/icons8-spotify.svg" class="logo"></a>

    </div>
</body>







</html>